  page{
    background-color: gainsboro;
}

.lingue {
    float: left;
    width: 50px;
    height: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.logo bianco {
    float: center;
    width: 1500px;
    height: 900px;
    margin-left: 20px;
    margin-right: 20px;
}


#FOOTER
{
  font-size: x-small;
  background-color: dimgrey;
  }
